<div class="container-fluid">
    <div class="row flex-nowrap">
        <%= render 'layouts/sidebar' %>
        <div class="col py-3">
            <div id="storages">
            <h3><%=@curr_storage.name%></h3>
            </div>
        </div>
    </div>
</div>

