<% curr_date = Date.today %>
<div class="p-3 border-top border-bottom" style="background-color: <%=Colors::LIGHT_GRAY%>;">
    <div class="d-flex">
        <label for="transaction_date" style="color: red; width:125px;" class="align-self-center">Transaction date</label>
        <input class="form-control ms-5" style="width: min-content" type="date" name="transaction_date" id="transaction_date" value="<%= curr_date %>"/>
    </div>
</div>
<div class="m-3">
    <table class="table border-top table-responsive">
        <thead class="">
            <tr>
                <th scope="col"><p style="width: 200px;">ITEM DETAILS</p></th>
                <th scope="col"><p style="width: 150px;">QUANTITY</p></th>
                <th scope="col"><p style="width: 150px;">DISCOUNT</p></th>
                <th scope="col"><p style="width: 150px;">AMOUNT</p></th>
                <th scope="col"><p style="width: 100px"></p></th>
            </tr>
        </thead>
        <tbody>
            <tr id="input-row">
                <td>
                    <select style="width: 100%;" name="search_item" id="search_item"></select>
                </td>
                <td>
                    <input type="text" class="align-content-center w-100 form-control rounded-0" name="quantity" id="quantity" value="0"/>
                </td>
                <td class="d-flex">
                    <input type="text" class="w-100 form-control rounded-0" name="discount_value" id="discount_value" value="0"/>
                    <select class="rounded-0 border-secondary-subtle border-start-0" name="discount_unit" id="discount_unit">
                        <option value="0">%</option>
                        <option value="1">IDR</option>
                    </select>
                </td>
                <td>
                    <p name="amount_value" id="amount_value">0</p>
                </td>
                <td>
                    <a id="add-item-btn" name="add-item-btn" class="btn btn-primary">ADD ITEM</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex pb-3">
    <div class="p-3 w-50">
        <label for="note" class=" align-self-start">Transaction Note</label>
        <textarea class="form-control w-100" name="note" id="note"></textarea>
    </div>
    <div class="p-3 w-50 me-2 border-top border-start border-end border-bottom" style="background-color: <%=Colors::LIGHT_GRAY%>;">
        <div class="d-flex my-4">
            <p class="w-50 fw-bold">Sub Total (IDR)</p>
            <p class="w-50 fw-bold ms-2" id="sub_total_amount">0</p>
        </div>
        <div class="d-flex my-4">
            <p class="w-50">Shipping charge</p>
            <input class="w-50 ms-2" type="text" id="shipping_charge" name="shipping_charge" value="0"/>
        </div>
        <div class="d-flex my-4">
            <p class="w-50 fw-bold">Total (IDR)</p>
            <input class="w-50 fw-bold ms-2 border-0 bg-transparent" type="text" id="total_amount" value="0" name="total_amount" />
        </div>
    </div>
</div>
